{% extends 'product_lookup/base.html' %}
{% load crispy_forms_tags %}

{% block appcontent %}


<form method="post" action="{% url 'authentification:login' %}" class="d-flex flex-column col-10 col-lg-5 mx-auto mt-3">
    {% if form.errors %}
    <p>Le mot de passe ou l'email semble incorrect. Veuillez réessayer.</p>
    {% endif %}
    {% if messages %}
    <ul class="alert alert-success" role="alert">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% csrf_token %}
{{ form|crispy }}

<input type="submit" value="Se connecter" class="btn btn-primary mx-auto mt-3">
<input type="hidden" name="next" value="{{ next }}">
<small class="mt-3">
    <a href="{% url 'authentification:signup' %}">Pas encore de compte ? Cliquez ici pour en créer un !</a>
</small>
</form>



{% endblock appcontent %}